<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948721494996-7u2sivsr6pnsi2vmikavoqs6bn60i01c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948721494996-7u2sivsr6pnsi2vmikavoqs6bn60i01c</string>
	<key>API_KEY</key>
	<string>AIzaSyBlW6-zSjCNpZeF1Cdad_HIRm85cR03cpo</string>
	<key>GCM_SENDER_ID</key>
	<string>948721494996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jinnie.HW72</string>
	<key>PROJECT_ID</key>
	<string>hw7-restaurant-search</string>
	<key>STORAGE_BUCKET</key>
	<string>hw7-restaurant-search.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948721494996:ios:1a7107e8187af56a064441</string>
</dict>
</plist>